<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peng.graduationproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="12a27e8e0c7227a0c7043651c0857dee"
            />

        <activity android:name=".ui.global.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    <!-- global -->
    <activity android:name=".ui.global.loginActivity">

    </activity>

    <activity android:name=".ui.global.registerActivity">

    </activity>

    <activity android:name=".ui.global.getPasswordActivity">

    </activity>

    <activity android:name="com.example.peng.graduationproject.ui.global.HomeActivity">

    </activity>


        <activity android:name=".ui.dialog.ListOptionsActivity">

        </activity>

    <!-- order
    <activity android:name=".ui.order.OrderDetailActivity">

    </activity>-->

    <activity android:name=".ui.order.OrderAddActivity"
        android:windowSoftInputMode="stateHidden|stateUnchanged"
        >

    </activity>

    <activity android:name="com.example.peng.graduationproject.ui.order.SelectAdressActivity">

    </activity>


    <!-- discover -->

    <!-- message -->

    <!-- personal

    <activity android:name=".ui.personal.AboutActivity">

    </activity>
    <activity android:name=".ui.personal.AdviceActivity">

    </activity>

    <activity android:name=".ui.personal.FarmlandDetailActivity">

    </activity>

    <activity android:name=".ui.personal.FarmlandEditActivity">

    </activity>-->

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

</manifest>
